<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">Clinica Jose</h1>
            <h3 class="mb-5">
                <em>Solicita tus citas</em>
            </h3>
           
        </div>
        <div class="overlay"></div>
    </header>
</main>