<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Grid Template for Bootstrap</title>

    {{!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/grid/"> --}}

    <!-- Bootstrap core CSS -->
    {{!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> --}}

    <!-- Custom styles for this template -->
    {{!-- <link href="grid.css" rel="stylesheet"> --}}
  </head>

  <body>
    <div class="container">

      <h1>Organiza tus citas</h1>
     

      <h3></h3>
      <form class="row g-3"  action="../../form-result.php" method="post" target="_blank">
     
 <div class="col-md-4">
                <label for="country" class="form-label">Motivo</label>
                <select class="custom-select d-block w-100 h-50" id="country" required>
                  <option value="">Choose...</option>
                  <option>United States</option>
                </select>
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
    </div>

       <div class="col-md-4">
          <label for="date" class="form-label">Example date</label>
          <input type="date" class="form-control" id="date" required="required">
          
       </div>
       
        
       <div class="col-md-4">
         <label for="time" class="form-label">Example time</label>
          <input type="time" class="form-control" id="time"  min="08:00" max="18:00" step="1800">
     
       </div>
    <fieldset>
     <button class="btn btn-primary" type="submit">Submit form</button>
     <input type="reset" value="Reiniciar el formulario">
     </fieldset> 
 </form>
  <hr class="mb-4">
<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Motivo</th>
      <th scope="col">Especialista</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr data-selected="0">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td> <button type="submit" class="btn btn-primary ">Modificar</button>
      <button type="submit" class="btn btn-primary ">Modificar</button>
      </td>

    </tr>
    <tr data-selected="0">
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td> <button type="submit" class="btn btn-primary">Modificar</button>
      <button type="submit" class="btn btn-primary">Modificar</button></td>
    </tr>
    <tr data-selected="0">
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      
      <td> <button type="submit" class="btn btn-primary">Modificar</button>
      <button type="submit" class="btn btn-primary">Modificar</button></td>
    </tr>
  </tbody>
  </table>

  
         

     {{!--  <p></p>
     <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
     </div


    <p>
      <label for="number">Example number</label>
      <input type="number" id="number">
    </p> --}}

 {{!-- <form action="../../form-result.php" method="post" target="_blank">
  <p>
    Adivina la hora de arribo: <input type="time" name="horaarribo" min="12:00" max="18:00" step="600">
    <input type="submit" value="Enviar datos">
  </p>
</form> --}}

    </div> <!-- /container -->
  </body>
</html>
